// Color Scheme
$color-background: #fff;
$color-primary: #999999;
$color-secondary: #666666;
$color-interactive: #36a2c1;
$color-header: #2fa2c3;
$color-button-text: #fff;
$color-button-shadow: #2d7f96;
$color-form-icons: $color-primary;
$color-success-icon: #008a46;
$color-success-input-border: #048c48;
$color-failure: #ed1f24;
$color-form-border: rgba($color-primary, 0.33);
$color-input-border: rgba($color-primary, 0.28);
$color-input-border: #e3e3e3;

// Font names
$font-light: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
$font-bold: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
$font-regular: 'Helvetica Neue Regular', Helvetica, Arial, sans-serif;

// Animation durations
$duration-button: 200ms;
$duration-input: 500ms;

// Measurements
// (Override in child components if necessary)
$form-element-height: 40px !default; // Input and button
$base-letter-spacing: -0.18px;
$border-position-adjustment: 2px;
$form-width: 440px !default;
$form-height: 311px - $border-position-adjustment !default;
$form-vertical-padding: 34px + $border-position-adjustment !default;
$form-horizontal-padding: 70px !default;
$form-border-radius: 5px;
$header-font-size: 41.36px;
$header-margin-x: 70px;
$header-margin-top: 30px;
$header-margin-bottom: 22px;
$button-padding-x: 25px !default;
$button-padding-y: 10px !default;
$buttom-margin-top: 14px;
$buttom-margin-bottom: 14px;
$button-border-radius: 5px !default;
$button-font-size: 18px !default;
$button-letter-spacing: -0.18px !default;
$input-padding: 10px !default;
$input-padding-left: 40px !default;
$input-width: 295px - $border-position-adjustment / 2 !default;
